/* navbar */

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(35deg, #1c2c49, #86b8d4)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: rgb(5, 4, 66);
  }

  /* social buttons */

  .fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .social-buttons{
      float: right;
      margin-top: 5px;
      margin-right: 20px;
  }

  /* hompage text */
  .homepage-content{
      text-align: center;
      color: rgb(78, 10, 10);
      font-weight: bolder;
      margin-top: 100px;
  }

  /* main page background video */

  video{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-top: 50px;
    left: 0;
    border-radius: 50%;
    object-fit: initial;
    width: 250px;
    height: 250px;
    position: absolute;
  }
 
/* main page background */

 .background{
	z-index: 1;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-height: 35rem;
	background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}

/* footer */
footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: white;
  text-align: center;
  background: linear-gradient(35deg, #1c2c49, #86b8d4);
  height: 10px;
}

.homepage-content{
  margin-bottom: 100px;
}