.main-content{
    padding: 0 100px;
    color: black;
    background-image: url("../images/liribackground.jpg");
    background-size: cover;
}

h2, h3{
    color: black;
    font-weight: bold
}

h3{
    text-decoration: underline;
}