/* navbar */

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(35deg, #1c2c49, #86b8d4)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: rgb(5, 4, 66);
  }


  /* dropdown */

  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #4a4e50;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* hompage text */
  .homepage-content{
      text-align: center;
      color: rgb(78, 10, 10);
      font-weight: bolder;
      margin-top: 100px;
  }

  /* main page background video */

  video{
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    left: 0;
    border-radius: 50%;
    object-fit: initial;
    width: 250px;
    height: 250px;
    position: absolute;
  }
 
/* main page background */

 .background{
	z-index: 1;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	min-height: 35rem;
	background-image: linear-gradient(to bottom,  rgba(255,168,76,0.6) 0%,rgba(255,123,13,0.6) 100%), url('https://images.unsplash.com/photo-1446824505046-e43605ffb17f');
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}
